<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>ご注文を承りましたので、お知らせ致します。</p>
    <p>商品が発送されましたら、メールをお送り致します。</p>
    <p>ご注文の詳細については、以下のリンクをクリックしてください。</p>

    <p><%= @url %></p>
  </body>
</html>
